<style>
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

.pcp{
    opacity: 0.3;
    align-content: center;
}

#pt{
    margin-top: 50px;
}
.portaltext{
    color: teal;
}

.rath{
    font-family: 'Source Serif Pro', serif;
    font-size: 150%;
}

.nv-fixed{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    isolation: auto;
    z-index: 100;
}
.sideb {
    top: 54;
    background-color: #1F1F1F;
    color:beige;
}

.error {
    color: #f44b42;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.top {
    margin-right: 15px;
    padding-bottom: 0px;
}

#main {
    height: 100vh;
}

.err {
    margin-top: 80px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.container {
    padding: 32px;
}



</style>